---
layout: archive
title: "Clinical Experience"
permalink: /clinical/
author_profile: true
---

{% include base_path %}

{% for post in site.clinical reversed %}
  {% include archive-single.html %}
{% endfor %}

<hr>

<section id="therapy-clinical-checklist">
  <h2>Therapy Clinical Checklist</h2>

  <blockquote>
    <p>
      Shadowing opportunities at various sites (CHI Lakeside, CHI Bergan Mercy, UNMC, Methodist Estabrook Cancer Center, etc.) will be announced throughout the year and documented on a shared excel page.<br>
      Over the two year program, your goal should be to try to attend each of the following at least once.
    </p>
  </blockquote>

  <table>
    <thead>
      <tr>
        <th>Experience Title</th>
        <th>Description</th>
        <th>Supporting Documentation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>TG-51 Calibration (Electrons)</td>
        <td>Observe a calibration of at least one electron energy</td>
        <td>TG-51 &amp; addendum</td>
      </tr>
      <tr>
        <td>TG-51 Calibration (Photons)</td>
        <td>Observe a calibration of at least one photon energy</td>
        <td>TG-51 &amp; addendum</td>
      </tr>
      <tr>
        <td>Mechanical QA (MPC?)</td>
        <td>Observe/discuss daily, monthly, annual mechanical checks performed on the accelerator</td>
        <td>TG-142</td>
      </tr>
      <tr>
        <td>Profile QA Photons</td>
        <td>Observe/discuss profile analysis and energy checks (photons)</td>
        <td>TG-142</td>
      </tr>
      <tr>
        <td>Profile QA Electrons</td>
        <td>Observe/discuss profile analysis and energy checks (electrons)</td>
        <td>TG-142</td>
      </tr>
      <tr>
        <td>Morning Warmup w/ Therapists</td>
        <td>Participate in morning warmup beam, imaging, and safety checks</td>
        <td>TG-142</td>
      </tr>
      <tr>
        <td>Diagnostic x-ray machine checks</td>
        <td>Participate in an annual survey of a diagnostic imaging device</td>
        <td>Dependent on imaging modality</td>
      </tr>
      <tr>
        <td>Diagnostic CT</td>
        <td>Participate in an annual ACR CT testing</td>
        <td></td>
      </tr>
      <tr>
        <td>Diagnostic MRI</td>
        <td>Participate in an annual ACR MRI testing</td>
        <td></td>
      </tr>
      <tr>
        <td>Diagnostic Mammography</td>
        <td>Participate in an annual Mammography testing</td>
        <td></td>
      </tr>
      <tr>
        <td>Nuclear Medicine?</td>
        <td>Participate in an annual Gamma Camera testing</td>
        <td></td>
      </tr>
      <tr>
        <td>Imaging QA (EPID, KV Systems)</td>
        <td>Participate in monthly imaging checks</td>
        <td>TG-142</td>
      </tr>
      <tr>
        <td>Performance of a &quot;weekly chart check&quot;</td>
        <td>Observe a weekly chart check</td>
        <td>TG-275; TG-262</td>
      </tr>
      <tr>
        <td>Performance of an &quot;initial chart check&quot;</td>
        <td>Observe an initial plan check</td>
        <td></td>
      </tr>
      <tr>
        <td>Pre-treatment VMAT QA</td>
        <td>Participate in a pre-treatment VMAT QA</td>
        <td>TG-218, TG-307</td>
      </tr>
      <tr>
        <td>Brachytherapy QA</td>
        <td>Observe HDR Source Exchange and QA</td>
        <td></td>
      </tr>
      <tr>
        <td>Brachytherapy Treatment</td>
        <td>Observe HDR pre-treatment QA and HDR Treatment/Planning</td>
        <td></td>
      </tr>
      <tr>
        <td>Surface Guidance QA and use during Treatment (SGRT)</td>
        <td>Participate in QA of an SGRT system (AlignRT or Identify)</td>
        <td>TG-302</td>
      </tr>
      <tr>
        <td>Respiratory Motion management (4DCT, gated treatment, breath hold)</td>
        <td>Review a plan and observe treatment</td>
        <td></td>
      </tr>
      <tr>
        <td>Winston Lutz test (SBRT/SRT Treatment)</td>
        <td>Participate in performing a Winston Lutz Test</td>
        <td></td>
      </tr>
      <tr>
        <td>CT Simulator QA</td>
        <td>Participate in monthly CT Sim QA; review daily QA</td>
        <td>TG-66</td>
      </tr>
      <tr>
        <td>Special Physics Consult (Implanted Device)</td>
        <td>Discuss with physicist; create a sample &quot;fake&quot; report</td>
        <td>TG-203</td>
      </tr>
      <tr>
        <td>Special Physics Consult (Previous Treatment)</td>
        <td>Discuss with physicist; create a sample &quot;fake&quot; report</td>
        <td>TG-132</td>
      </tr>
      <tr>
        <td>Adaptive Therapy workflow (Head and Neck)</td>
        <td>Walk through a &quot;fake&quot; patient case</td>
        <td>TG-132</td>
      </tr>
    </tbody>
  </table>
</section>

<hr>

<section id="imaging-clinical-checklist">
  <h2>Imaging Clinical Checklist</h2>

  <blockquote>
    <p>
      Plan for M.S. Medical Physics shadowing events at CHI Radiology, Bergan Mercy Hospital.<br>
      Purpose: Gain a clinical perspective of medical imaging in general and radiology in particular.
    </p>
  </blockquote>

<ul>
  <li>
    ✅ <strong>Tour CT</strong>
    <ul>
      <li>✅ Observe a CT exam</li>
      <li>✅ Discuss procedures used by staff</li>
    </ul>
  </li>
  <li>
    ✅ <strong>Tour MR</strong>
    <ul>
      <li>✅ Observe an MRI exam</li>
      <li>✅ Discuss procedures used by staff</li>
    </ul>
  </li>
  <li>
    ▢ <strong>Tour Ultrasound</strong>
    <ul>
      <li>▢ Observe a US exam</li>
      <li>▢ Discuss procedures used by staff</li>
    </ul>
  </li>
  <li>
    ✅ <strong>Tour Fluoroscopy</strong>
    <ul>
      <li>✅ Observe a Fluoroscopy exam</li>
      <li>✅ Discuss procedures used by staff</li>
    </ul>
  </li>
  <li>
    ✅ <strong>Tour Nuclear Medicine</strong>
    <ul>
      <li>✅ Observe a Nuclear Medicine exam</li>
      <li>✅ Discuss procedures used by staff</li>
    </ul>
  </li>
  <li>
    ▢ <strong>Shadow radiology resident in the reading room and review a case</strong> (×3)
  </li>
</ul>

</section>



